Repository lab-brussels-1/HYF-Redesign-Group-3, pull requests merged in 2022-04, with the labels that each got.

#4 adding communication plan file
  .cspell.json
  planning/README.md
  planning/backlog.md
  planning/communication-plan.md
  planning/development-strategy.md
Labels: Planning

#8 Maria communication
  planning/communication-plan.md
  planning/user-persona.md
Labels: Planning

#13 adding constraints file
  .cspell.json
  planning/constraints.md
Labels: Planning

#15 adding draft files.md to planning folder
  .cspell.json
  README.md
  planning/assets/screenshot.jpg
  planning/backlog.md
  planning/design.md
  planning/development-strategy.md
  planning/retrospective.md
Labels: documentation

#16 add a communication-plan.md
  package-lock.json
  package.json
  planning/communication-plan.md
Labels: Planning

#19 Add a new user-persona
  planning/user-persona.md
Labels: Planning, md

#23 adding draft development strategy
  planning/development-strategy.md
Labels: Planning, development-strategy

#26 Update Readme
  README.md
Labels: Planning, readme

#29 backlog desc/sentence structure update
  planning/backlog.md
Labels: Planning, backlog, update

#34 Maria header
  index.html
  planning/development-strategy.md
  public/Screenshot 2022-04-14 at 23.00.20.png
  styles/something.css
Labels: html, css

#21 josee communication
  planning/communication-plan.md
Labels: Planning, communication, md

#40 update planning files desc
  planning/backlog.md
  planning/communication-plan.md
  planning/development-strategy.md
Labels: documentation, Planning, update

#37 comm-topic discussion update
  .vscode/extensions.json
  assets/agoria.png
  assets/belgium.png
  assets/bruxelles-economy.png
  assets/datacamp.png
  assets/digital-belgium.png
  assets/epitech1.png
  assets/microsoft.png
  assets/printsimple.png
  assets/uxantwerp.png
  assets/vbo.png
  planning/communication-plan.md
Labels: communication, update

#41 create program part of home page
  .cspell.json
  assets/our-program.jpeg
  index.html
  styles/something.css
Labels: html, css, home page

#42 Zerubabel add our impact code
  index.html
  styles/something.css
Labels: html, css, home page

#46 fix problem with responsivity of image
  index.html
Labels: html, css, home page

#47 Maria header update
  index.html
  styles/style.css
Labels: html, css, home page

#50 updating readme.md content
  .cspell.json
  README.md
  planning/assets/bg-img.png
  planning/assets/codesample.png
Labels: documentation, update, md, readme

#53 Maria header update2
  index.html
  styles/style.css
Labels: html, css, home page

#55 Footer
  index.html
  styles/style.css
Labels: html, css, footer

#51 adding partner section
  assets/img-hyf-1.jpg
  index.html
  styles/style.css
Labels: development-strategy, html

#61 Maria update2
  index.html
  styles/style.css
Labels: html, css, home page

#64 Made img responsive on small screen
  index.html
Labels: html, css, home page

#66 Created faq.html file in Pages folder
  pages/faq.html
  styles/faq.css
Labels: documentation, FAQ page

#71 Maria navbar in pure CSS for Faq page
  pages/faq.html
  styles/faq.css
Labels: html, css, FAQ page, Navbar

#73 Zerubabel add our impact icons
  assets/commitment.svg
  assets/community.svg
  assets/diversity-inclusiveness.svg
  assets/open.svg
Labels: home page

#74 Zerubabel add our core values code
  index.html
  styles/style.css
Labels: html, css

#76 zerubabel add icon visible correction
  index.html
Labels: html

#78 Enhance Homepage image
  index.html
  styles/style.css
Labels: html, css, home page

#80 add OUR-MISSION-OUR-VISION-code
  index.html
  pages/about.html
  styles/about.css
Labels: html, css

#82 Homepage image change path
  assets/team-img.png
  styles/style.css
Labels: css, home page

#83 Our team
  .cspell.json
  assets/team/daniel-2cd75a64c34ab873cdd3e1ed3bd802ce.jpeg
  assets/team/evan-6d6ead1ea7cd053532776ac5072bf9df.jpeg
  assets/team/gelila-0364bf69420c99127e4f17973260a378.jpeg
  assets/team/hind-1c30b68685fe12f5cb5bae25d1894b88.jpeg
  assets/team/lizhen-702c7318c8817f66b27c274324d4f22b.jpeg
  assets/team/yoshi-bafb004a3b9813aa9750174b4d4f3edd.jpeg
  pages/about.html
  styles/about.css
Labels: html, css, About

#84 adding faq content
  assets/search-icon.png
  index.html
  pages/faq.html
  styles/faq.css
  styles/style.css
Labels: html, css, FAQ page

#93 Footer fixing
  pages/faq.html
  styles/faq.css
Labels: html, css, FAQ page

#91 Navbar enhancement_issue88
  index.html
  styles/faq.css
Labels: html, css, FAQ page

#87 adding retrospective file
  planning/retrospective.md
Labels: readme, retrospective

#95 Change the path to faq
  pages/faq.html
Labels: html

#98 fix the issue with css style in About page
  .cspell.json
  pages/about.html
  pages/faq.html
  styles/about.css
Labels: bug, css

#101 add ignore patch and fix issue with link in navbar
  index.html
Labels: bug
